extends ../base

block content
    form(method="POST") 
        input(placeholder="Content", required, type="text", name="content", value=question.content)
        input(value="질문 수정하기",type="submit")