extends ../base

block content
    div
        p=question.content
        small=question.createdAt

    if String(question.owner) === String(loggedInUser._id)
        nav
            ul
                li
                    a(href=`${question.id}/editq`) 수정하기 &rarr;
                    br
                    a(href=`${question.id}/delete`) 삭제하기 &rarr;