extends ../base

block content
    form(method="POST")
        input(placeholder="질문 내용", required, type="text", name="content")
        input(value="질문 올리기", type="submit")

    if errorMessage
        span=errorMessage