extends ../base

block content
    form(method="POST")
        input(placeholder="질문 내용", required, type="text", name="content")
        input(value="질문하기", type="submit")

    div.center    
        div.arrow-switch
            a(href="/qna") 뒤로가기 &larr;

    if errorMessage
        span=errorMessage