mixin questions(questions)
    div
        h4="질문 " + questions.number+1 
        a(href="/qna/" + questions.id)=questions.title
        ul
            each hashtag in questions.hashtags
                li=hashtag
        small=questions.createdAt
        hr