mixin questions(questions)
    a(href="/qna/" + questions.id).question-grid
        div
            div.question-content=questions.content
            div.question-createdAt=questions.createdAt
        
        div.question-views="views"