mixin users(user)
    div.adUsers__layout
        p.question-content2=user.userName

        div.adRecord__content
            h1.question-content 학번
            p.question-content=user.studentID

        div.adRecord__content
            h1.question-content 전화번호
            p.question-content="0"+user.phoneNumber
        
        if !user.availableLocker
            div.adRecord__content
                h1.question-content 배정 사물함
                p.question-content Y
        else
            div.adRecord__content
                h1.question-content 배정 사물함
                p.question-content N

        if !user.availableLocker
            form(method="POST" action="/admin/"+_id+"/dbuser").form-adUser
                input(placeholder="사용자 학번",name="studentID", type="text", pattern="[0-9]+", minlength='9', maxlength='9', required).input-change3
                input(type="submit", value="사용자 비밀번호 초기화").input-change5
            form(method="POST" action="/admin/"+_id+"/dbusers").form-adUser
                input(placeholder="사용자 학번",name="studentID", type="text", pattern="[0-9]+", minlength='9', maxlength='9', required).input-change3
                input(type="submit", value="사물함 강제 해지").input-change4
        else
            form(method="POST" action="/admin/"+_id+"/dbuser").form-adUser
                input(placeholder="사용자 학번",name="studentID", type="text", pattern="[0-9]+", minlength='9', maxlength='9', required).input-change3
                input(type="submit", value="사용자 비밀번호 초기화").input-change5
