a(href="/locker/" + lockers[10]._id).BSlocker__absolute
    span= Object.values(lockers[10].lockerNum)

a(href="/locker/" + lockers[20]._id).BSlocker__absolute
    span= Object.values(lockers[20].lockerNum)