extends ../base
include ../mixins/lockers

block content
    div.ASlocker__relative
        div.locker__area
        include roomLocker
        include ASLocker
    
    div.Numlocker__relative
        include ASNumLocker

    a(href="/admin/adlocker").homeCard__shape
            span.homeCard__join  사물함 데이터 등록
    
    div.arrow-switch
        a(href="/").arrow-switch 뒤로가기 &larr;