a(name="student-council-room").ASlocker__absolute.student-council-room
    span.room 학생회실

div.ASlocker__absolute.room327.restRoomW
    span.room 여 화장실

div.ASlocker__absolute.room327.restRoomM
    span.room 남 화장실

a(name="room327").ASlocker__absolute.room327
    span 327호

a(name="room328").ASlocker__absolute.room328
    span 328호