a(name="student-council-room").ASlocker__absolute.student-council-room
    span.room 학생회실

div.ASlocker__absolute.exhibitionRoom
    div.room 329
    div.room 전시실 및
    div.room 대형 강의실

div.ASlocker__absolute.restRoomW
    span.room 여 화장실

div.ASlocker__absolute.restRoomM
    span.room 남 화장실

div.ASlocker__absolute.room326
    span.room 326
    
a(name="room328").ASlocker__absolute.room328
    span.room 328

a(name="room327").ASlocker__absolute.room327
    span.room 327
