.profile__shape {
  position: relative;
  display: flex;
  flex-direction:column; 
  justify-content:space-around;
  align-items: center;

  max-width: 85%;
  margin: 0px auto;
  padding: 50px 100px;

  background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.5);
  border-radius: 10px;
  border: 3px solid rgba($color: #fff, $alpha: 0.7); 
}

.profile__data {
    text-align: center;
    font-size: 40px;
    margin: 25px 30px;

    p {
      font-size: 50px;
      margin: 10px 50px;
    }
  }

.edit__phonenum {
  all: unset;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: black;
    font-size: 15px;
    color: white;
    width: 65%;
}