.search__form {
    max-width:85%;
    margin: 0px auto;
    display: flex;
    position: relative;
    flex-direction:row; 
    align-items: center;
    input {
      all: unset;
      padding: 15px;
      border-radius: 5px;
      text-align: center;
      border: 1px solid $white;
      background-color: rgba($color: rgb(150, 151, 233), $alpha: 0.1);
      margin-bottom: 5px;
      font-size: 30px;
      color: white;
      width: 90%;
    }
    button { 
      all: unset;
    }
    button {
      position: absolute;
      right: 0%;
      font-size: 35px;
      background-color: rgba(0, 0, 0, 0);
      text-align: center;
      cursor: pointer;
    }
  }

  .question-grid{
    padding: 35px 175px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }