.search__form {
    max-width:90%;
    margin: 0px auto;
    display: flex;
    position: relative;
    flex-direction:row; 
    align-items: center;
    input {
      all: unset;
      padding: 40px;
      border-radius: 5px;
      text-align: center;
      border: 1px solid $white;
      background-color: rgba($color: rgb(150, 151, 233), $alpha: 0.1);
      margin-bottom: 5px;
      font-size: 40px;
      color: white;
      width: 90%;
    }
    button { 
      all: unset;
    }
    button {
      position: absolute;
      right: 5%;
      font-size: 45px;
      background-color: rgba(0, 0, 0, 0);
      text-align: center;
      cursor: pointer;
    }
  }

  .bnt__postQ {
    margin: 50px;
    display: flex;
    justify-content:space-evenly;
    flex-direction:row;
  }

  .postQ__bnt {
    padding: 30px;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    color: $white;
    span {
      font-size: 40px;
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .question-grid{
    padding: 35px 175px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }