.ASlocker__relative{
    position: relative;
    display: flex;
    
    flex-direction: low;
    max-width: 85%;
    margin: 50px auto;
}

.locker__area{
    box-sizing: content-box;
    width:85%;
    height: 200vh;
}

.ASlocker__absolute{
    position: absolute;
    background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.6);
    border-radius: 10px;
    border: 3px solid rgba($color: #fff, $alpha: 0.7); 

    span {
        font-size: 40px;
        text-align: center;
    }

    .room{
        font-size: 30px;
        text-align: center;
    }
}

.student-council-room{
    background-color: rgba($color: rgb(58, 58, 58), $alpha: 0.1);
    padding: 180px 170px;
}

.restRoomW{
    background-color: rgba($color: rgb(58, 58, 58), $alpha: 0.1);
    writing-mode: vertical-lr;
    padding: 70px 45px;
    top: 610px;
}

.restRoomM{
    background-color: rgba($color: rgb(58, 58, 58), $alpha: 0.1);
    writing-mode: vertical-lr;
    padding: 70px 45px;
    top: 910px;
}

.exhibitionRoom{
    background-color: rgba($color: rgb(58, 58, 58), $alpha: 0.1);
    padding: 1248px 130px;
    top: 1210px;
}

.room328{
    background-color: rgba($color: rgb(58, 58, 58), $alpha: 0.1);
    writing-mode: vertical-lr;
    padding: 600px 10px;
    top: 600px;
    right: 0px;
}

.room327{
    background-color: rgba($color: rgb(58, 58, 58), $alpha: 0.1);
    writing-mode: vertical-lr;
    padding: 700px 10px;
    top: 1865px;
    right: 0px;
}

.room326{
    background-color: rgba($color: rgb(58, 58, 58), $alpha: 0.1);
    writing-mode: vertical-lr;
    padding: 200px 10px;
    top: 3330px;
    right: 0px;
}

.Alocker{
    padding: 20px 70px;
    top: 400px;
}

.Blocker{
    padding: 60px 30px;
    right: 230px;
}

.Clocker{
    padding: 60px 28px;
    top: 170px;
    right: 230px;
}

.Dlocker{
    padding: 60px 28px;
    right: 140px;
}

.Elocker{
    padding: 60px 30px;
    top: 170px;
    right: 140px;
}

.Flocker{
    padding: 60px 30px;
    right: 0px;
}

.Glocker{
    padding: 60px 28px;
    right: 0px;
    top: 170px;
}

.Hlocker{
    padding: 60px 28px;
    right: 60px;
    top: 650px;
}

.Ilocker{
    padding: 60px 38px;
    right: 60px;
    top: 820px;
}

.Jlocker{
    padding: 60px 33px;
    right: 60px;
    top: 990px;
}

.Klocker{
    padding: 60px 30px;
    right: 60px;
    top: 1380px;
}

.Llocker{
    padding: 60px 32px;
    right: 60px;
    top: 1550px;
}

.Mlocker{
    padding: 60px 26px;
    right: 60px;
    top: 2000px;
}

.Nlocker{
    padding: 60px 28px;
    right: 60px;
    top: 2170px;
}

.Olocker{
    padding: 60px 28px;
    right: 60px;
    top: 2340px;
}

.Plocker{
    padding: 60px 31px;
    right: 60px;
    top: 2540px;
}

.Qlocker{
    padding: 60px 28px;
    right: 60px;
    top: 2710px;
}

.Rlocker{
    padding: 60px 30px;
    right: 60px;
    top: 2880px;
}

.Slocker{
    padding: 60px 30px;
    right: 60px;
    top: 3050px;
}