form, .form, .form-change, .form-adUser {
  max-width: 90%;
  margin: 0px auto;
  display: flex;
  position: relative;
  flex-direction:column; 
  align-items: center;

  input, .input, .input-change, .input-change2, .input-change3{
    all: unset;
    margin: 25px;
    padding: 35px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid $white;
    background-color: rgba($color: rgb(255, 255, 255), $alpha: 0);
    margin-bottom: 5px;
    font-size: 40px;
    color: white;
    width: 90%;
  }

  .input{
    border: 0px;
    margin: 0px;
    padding-top: 0px;
    font-size: 50px;
  }

  .input-change{
    margin: 0px 10px;
    padding: 25px 0px;
    font-size: 30px;
  }

  .input-change2{
    padding: 25px 40px;
    margin: 0px 10px;
    font-size: 30px;
  }

  .input-change3{
    font-size: 30px;
    padding: 20px 20px;
    margin: 20px;
    margin-top: 0px;
  }
}

.form-change{
  flex-direction:row; 
  margin: 25px 0px;
  margin-bottom: 20px;
}

.form-adUser{
  margin: 25px 15px;
}

input[type="submit"], .input-change4[type="submit"], .input-change5[type="submit"] {
  margin: 50px;
  padding: 40px;
  font-size: 45px;
  border-radius: 5px;
  background-color: white;
  color: rgba($color: $bg, $alpha: 1);
  text-align: center;
  cursor: pointer;
  display: block;
}

.input-change4[type="submit"]{
  margin: 0px;
  padding: 20px;
  font-size: 30px;
}

.input-change5[type="submit"]{
  margin: 0px;
  padding: 20px;
  font-size: 30px;
}