header {
    padding: 35px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo {
        color: $white;
        font-size: 50px;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        margin-left: 30px;
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
      }
      i {
        font-size: 16px;
      }
    }
    .header__btn {
        background-color: white;
        color: $bg;
        padding: 5px 10px;
        border-radius: 5px;
    }
}