.ASlocker__relative{
    position: relative;

    max-width: 85%;
    margin: 50px auto;
}

.Alocker__absolute{
    position: absolute;
    display: flex;

    background-color: rgba($color: rgb(150, 151, 233), $alpha: 0.1);
    border-radius: 10px;
    border: 3px solid rgba($color: #fff, $alpha: 0.7); 

    span {
        margin: 10px 100px;
        font-size: 50px;
    }
}

.BSlocker__absolute{
    position: absolute;
    display: flex;

    max-width: 20%;

    background-color: rgba($color: rgb(150, 151, 233), $alpha: 0.1);
    border-radius: 10px;
    border: 3px solid rgba($color: #fff, $alpha: 0.7); 

    span {
        margin: 100px 10px;
        font-size: 50px;
    }
}

.Numlocker__relative{
    position: relative;
    display: flex;
    
    flex-direction: low;
    flex-wrap: wrap;
    justify-content: space-around;
    
    max-width: 85%;
    margin: 50px auto;
}


.Numlocker__absolute{
    position: relative;

    max-width: 30%;
    margin: 10px;

    background-color: rgba($color: rgb(150, 151, 233), $alpha: 0.1);
    border-radius: 10px;
    border: 3px solid rgba($color: #fff, $alpha: 0.7); 

    p {
        margin: 100px;
        font-size: 50px;
    }
}