ul {
    margin-top: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row-reverse;
  li {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

  
.logout__btn {
  color: $white;
  padding: 15px 30px;
  border-radius: 5px;
  border: 3px solid rgba($color: #fff, $alpha: 0.3); 
}