
ul {
    padding: 0px 50px;
    display: flex;
    flex-direction: row-reverse;
  li {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.header__btn {
    background-color: white;
    color: $bg;
    padding: 5px 10px;
    border-radius: 5px;
}