.question-grid, .adQuestion-grid{
    position: relative;
    display: flex;
    flex-direction:row; 
    justify-content:space-between;
    align-items: center;
    text-align: center;

    max-width: 80%;
    margin: 0px auto;
    padding: 40px;
    border-radius: 10px;
    border-bottom: 10px solid rgba($color: #fff, $alpha: 0.7); 

    p {
      all: unset;
      text-align: center;
      font-size: 40px;
      color: white;
      width: 100%;
    }
}

.adQuestion-grid{
  margin: 20px auto;
  background-color: rgba($color: rgb(255, 153, 0), $alpha: 0.4);
  border-bottom: 0px;
}

.question-content{
  margin-right: 15px;
  font-size: 40px;
}

.question-content2{
  margin: 0px 200px;
  font-size: 40px;
}

.bnt__postQ {
    margin: 30px;
    display: flex;
    justify-content:space-evenly;
    flex-direction:row;
    a {
      padding: 30px;
      border-radius: 5px;
      width: 30%;
      text-align: center;
      color: $white;
      span {
        font-size: 40px;
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }