doctype html

html(lang="ko")
    head
        title #{pageTitle} | Locker
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            h1 🔒 CNU Electrical Engineering Locker System
            h2  #{pageTitle}
        main
            block content
    include partials/footer