doctype html

html(lang="ko")
    head
        title #{siteName} | #{pageTitle}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        include partials/logout
        include partials/header
        include partials/pageTitle
        main
            block content
        
        footer
            include partials/footer

    script(src="/static/js/main.js")
    script(src="/static/js/commentSection.js")
    script(src="https://kit.fontawesome.com/d552185620.js" crossorigin="anonymous")