extends base

block content
    form(method="POST")
        p=loggedInUser.userName
        p=loggedInUser.studentID
        input(placeholder="phoneNumber", name="phoneNumber", type="number", required, value=loggedInUser.phoneNumber)
        input(type="submit", value="Update Profile")
