extends base

block content
    form(method="POST") 
        input(name="title", placeholder="Question  Title", required, type="text")
        input(name="content", placeholder="Content", required, type="text")
        input(value="질문 수정하기",type="submit") 
