extends base

block content
    if loggedIn
        a(href="/locker").homeCard__shape
            i.fa-solid.fa-unlock-keyhole.homeCard__locker
                span  Locker

        a(href=`/users/${loggedInUser._id}`).homeCard__shape
            i.fa-solid.fa-user.homeCard__imf
                span  User's Profile

        a(href="/qna").homeCard__shape
            span.homeCard__qna  Q & A
    else
        div.homeCard__shape
            i.fa-solid.fa-school-lock.homeCard__img
            a(href="/users/join").homeCard__btn Join
            a(href="/users/login").homeCard__btn Login