extends base

block content
    if locker.available
        h3  λΉ μ‚¬λ¬Όν•¨ μ…λ‹λ‹¤. π™‚ μ•„λ μ‹ μ²­ λ²„νΌμ„ ν†µν•΄ μ‚¬λ¬Όν•¨μ„ μ‹ μ²­ν•΄ λ³΄μ„Έμ”.
        a(href=`${locker.id}/password`) λΉ„λ°€λ²νΈ ν™•μΈν•κΈ° &rarr;
    else
        h1  μ΄λ―Έ μ‚¬μ©μ¤‘μΈ μ‚¬λ¬Όν•¨μ…λ‹λ‹¤...π²!
