extends base

block content
    h1=locker.password
    h3 <비밀번호 확인 버튼을 눌렀을 때>
    h3 해당 유저의 사물함 배정 유무를 확인하고 “이미 배정된 사물함이 있습니다.” 문구 띄우기 
    h3 의도적으로 비밀번호를 알아내기위해 연속적으로 사물함 배정 취소 행위를 막기위해 
    h3 배정 취소 시 취소 사유를 적게하고 취소 후 7일간은 배정을 금지하도록 한다. 