header
    h1
        a(href="/")
            i.fa-solid.fa-school-lock
        
        CNU  Electrical Engineering Locker System

    h2  #{pageTitle}
        nav
            ul
                if loggedIn
                    li
                        a(href="/users/logout") Logout
                else
                    li
                        a(href="/join") Join
                    li
                        a(href="/login") Login
                li
                    a(href="/locker") Locker
                li
                    a(href="/qna") Q&A
                li
                    a(href="/search") Searc 
                if loggedIn
                    li
                        a(href=`/users/${loggedInUser._id}`) #{loggedInUser.userName}