if loggedIn
    nav.Menu
        ul
            li
                a(href="/users/logout").Menu__logout
                    i.logout__btn 로그아웃
                if _id === "63661a25d7dd4e62c4d9d445"
                    a(href="/admin/63661a25d7dd4e62c4d9d445").Menu__home
                        i.fa-solid.fa-house
                else
                   a(href="/").Menu__home
                        i.fa-solid.fa-house
                a(onclick="history.back()").Menu__back
                    i.fas.fa-arrow-left.fa-2x