extends ../base

block content
    if loggedIn
        a(href="/admin/adlocker").homeCard__shape
            span.homeCard__join  사물함 데이터 등록
            
        a(href=`/admin/${_id}/dblocker`).homeCard__shape
            i.fa-solid.fa-unlock-keyhole.homeCard__imf
                span  사물함 배치도 | 데이터
        
        a(href=`/admin/${_id}/reclocker`).homeCard__shape
            i.fa-solid.fa-pen-nib.homeCard__imf
                span  사물함 반납 기록 | 비번 변경

        a(href=`/admin/${_id}/dbuser`).homeCard__shape
            i.fa-solid.fa-users.homeCard__imf
                span  사용자 데이터

        a(href=`/admin/${_id}/qna`).homeCard__shape
            i.fa-solid.fa-comment-dots.homeCard__imf
                span  사용자 질문 | 공지사항
    else
        img(src='public/CNU-logo.png' href="/users/login" style='width:100%; height:100%; object-fit:cover;').homeLogo
        
        a(href="/users/login").homeCard__shape
            span.homeCard__login  로그인

        a(href="/join").homeCard__shape
            span.homeCard__join  회원가입