extends ../base

block content
    if errorMessage
        div.error-message
            span=errorMessage
            
    form(method="POST")
        input(name="studentID", placeholder="관리자 아이디", type="number", required)
        input(name="password", placeholder="관리자 비밀번호", type="password", required)
        input(type="submit", value="로그인하기")