extends ../base

block content
    form(method="post")
        input(placeholder="Old Password",type="password", name="oldPW")
        input(placeholder="New Password",type="password", name="newPW1")
        input(placeholder="New Password Confirmation",type="password", name="newPW2")
        input(value="Change Password", type="submit")