extends ../base

block content
    if errorMessage
            span=errorMessage

    form(method="post")
        input(name="oldPW", placeholder="이전 비밀번호", type="password")
        input(name="newPW1", placeholder="새비밀번호", type="password")
        input(name="newPW2", placeholder="새비밀번호 재확인", type="password")
        input(value="Change Password", type="submit")