extends ../base

block content
    form(method="POST")
        input(placeholder="phoneNumber", name="phoneNumber", type="number", required, value="0"+loggedInUser.phoneNumber)
        input(type="submit", value="수정하기")