extends ../base
include ../mixins/questions

block content
    form(method="POST")
        label(for="") 이름
        p=loggedInUser.userName
        label(for="") 학번
        p=loggedInUser.studentID
        label(for="") 전화번호
        p=loggedInUser.phoneNumber
    
        div.arrow-switch
            a(href=`/users/${loggedInUser._id}/edit`) 프로필 수정하기 &rarr;

    div
        each question in user.questions
            +questions(question)